<section
  class="relative h-screen flex items-center justify-center text-center overflow-hidden"
>
  <div
    class="absolute inset-0 z-0 bg-[url('https://images.unsplash.com/photo-1511735111819-9a3f7709049c?q=80&w=2000')] bg-cover bg-center grayscale opacity-30 scale-110 animate-[pulse_10s_infinite]"
  ></div>
  <div
    class="absolute inset-0 bg-gradient-to-t from-zinc-950 via-transparent to-zinc-950"
  ></div>

  <div class="relative z-10 px-6">
    <h1
      class="text-7xl md:text-9xl font-bold mb-4 tracking-tighter uppercase italic"
    >
      Cross Out Silence
    </h1>
    <p
      id="hero-tag"
      class="text-amber-500 tracking-[0.4em] uppercase text-sm md:text-lg mb-8 font-medium italic"
    >
      Break The Silence
    </p>
    <div class="flex flex-wrap justify-center gap-4">
      <a
        href="#booking"
        class="bg-amber-600 hover:bg-amber-700 text-black font-extrabold py-4 px-10 uppercase tracking-tighter transition shadow-xl"
        >Book Now</a
      >
      <a
        href="#music"
        class="border border-zinc-100 hover:bg-white hover:text-black py-4 px-10 uppercase tracking-tighter transition"
        >Setlist</a
      >
    </div>
  </div>
</section>
