<!DOCTYPE html>
<html lang="id" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta
      name="google-site-verification"
      content="q456EUA5X3U_N5sL6INCGDqhJdlPq3_1_oRbr_xDR94"
    />
    <meta
      name="description"
      content="Official Website Cross Out Silence. Info terbaru tentang musik, jadwal manggung (gigs), daftar lagu, dan booking informasi."
    />
    <meta
      name="keywords"
      content="Cross Out Silence, Band Indonesia, Music Gigs, Booking Band"
    />
    <meta name="author" content="Cross Out Silence" />

    <meta property="og:title" content="Cross Out Silence | Official Website" />
    <meta
      property="og:description"
      content="Dengarkan musik terbaru dan cek jadwal manggung kami di sini."
    />
    <meta property="og:url" content="https://crossoutsilence.up.railway.app" />

    <title>Cross Out Silence | Official Website</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Oswald:wght@500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='styles.css')}}"
    />
  </head>
  <body
    class="bg-zinc-950 text-zinc-100 selection:bg-amber-600 selection:text-white"
  >
    {% include "nav.html" %} {% include "home.html" %} {% include "about.html"
    %} {% include "personnel.html" %} {% include "song_list.html" %} {% include
    "documentation.html" %} {% include "music_gigs.html" %} {% include
    "booking.html" %}{% include "rider.html" %}{% include "contact.html" %}{%
    include "maps.html" %} {%include "footer.html" %}

    <script src="{{url_for('static', filename='scripts.js')}}"></script>
  </body>
</html>
