<section id="personnel" class="py-24 px-6 bg-zinc-900/30">
  <div class="max-w-7xl mx-auto">
    <h2
      class="text-4xl font-bold mb-16 text-center uppercase italic tracking-widest"
      data-key="personnel-title"
    >
      Anggota Band
    </h2>
    <div class="grid grid-cols-2 lg:grid-cols-4 gap-6">
      <div class="group text-center">
        <div
          class="aspect-[3/4] overflow-hidden bg-zinc-800 mb-4 border border-zinc-800 group-hover:border-amber-600 transition"
        >
          <img
            src="https://images.unsplash.com/photo-1516280440614-37939bbacd81?q=80&w=600"
            class="w-full h-full object-cover grayscale group-hover:scale-105 transition duration-500"
          />
        </div>
        <h3 class="text-xl font-bold uppercase italic">Hilman Tantowi</h3>
        <p class="text-amber-500 text-xs uppercase font-bold tracking-widest">
          Lead Vocalist
        </p>
      </div>
      <div class="group text-center">
        <div
          class="aspect-[3/4] overflow-hidden bg-zinc-800 mb-4 border border-zinc-800 group-hover:border-amber-600 transition"
        >
          <img
            src="https://images.unsplash.com/photo-1525201548942-d8b8bb66ec70?q=80&w=600"
            class="w-full h-full object-cover grayscale group-hover:scale-105 transition duration-500"
          />
        </div>
        <h3 class="text-xl font-bold uppercase italic">Rizal A'dhi Awaludin</h3>
        <p class="text-amber-500 text-xs uppercase font-bold tracking-widest">
          Guitarist
        </p>
      </div>
      <div class="group text-center">
        <div
          class="aspect-[3/4] overflow-hidden bg-zinc-800 mb-4 border border-zinc-800 group-hover:border-amber-600 transition"
        >
          <img
            src="https://images.unsplash.com/photo-1564186763535-ebb21ef5277f?q=80&w=600"
            class="w-full h-full object-cover grayscale group-hover:scale-105 transition duration-500"
          />
        </div>
        <h3 class="text-xl font-bold uppercase italic">Qolbun Qotrunnada</h3>
        <p class="text-amber-500 text-xs uppercase font-bold tracking-widest">
          Bassist
        </p>
      </div>
      <div class="group text-center">
        <div
          class="aspect-[3/4] overflow-hidden bg-zinc-800 mb-4 border border-zinc-800 group-hover:border-amber-600 transition"
        >
          <img
            src="https://images.unsplash.com/photo-1519892300165-cb5542fb47c7?q=80&w=600"
            class="w-full h-full object-cover grayscale group-hover:scale-105 transition duration-500"
          />
        </div>
        <h3 class="text-xl font-bold uppercase italic">Muhammad Alby</h3>
        <p class="text-amber-500 text-xs uppercase font-bold tracking-widest">
          Drummer
        </p>
      </div>
    </div>
  </div>
</section>
